@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GivonicVariable';
  src: url('../public/static/font/GivonicVariable.ttf');
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-mocca100 pt-8 dark:border-cream;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
